* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    position: relative;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    color: black;
    cursor: default;
    background-color: rgb(252, 252, 252);

}

main {
    overflow: hidden;
    width: 100vw;
    height: 511vh;
}

.header {
    position: relative;
    z-index: 9999999;
}

img {
    width: 100vw;
}

.heading {
    height: auto;
}

.width-mid {
    top: -20rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 70vw; 
}

.exhibitions {
    position: relative;
    top: -40rem;
    margin: 8rem;
}

.exhibitions h2 {
   font-size: 6rem;
   margin-bottom: 7rem;
}

ul {
    list-style: none;
}

.list h5 {
    font-size: 3.6rem;
    margin-bottom: 2rem;
}

li {
    font-size: 2.8rem;
    margin-bottom: 7px;
    font-weight: 400;
}

.school {
    display: flex;
    justify-content: space-between;
    height: 48rem;
    /* background-color: yellow; */
}

.list {
    width: calc( ((100vw - 16rem) / 5 ) * 2 );
}

.img-container {
    position: relative;
    width: calc( ((100vw - 16rem) / 5 ) * 3);
    /* background-color: yellowgreen; */
}

.school img {
    position: absolute;
    width: calc( ((100vw - 16rem) / 5 ) * 3 - 10rem);
}

.right {
    right: 0rem;
}

.left {
    left: 0;
}

.footer {
    position: relative;
    top: -30rem;
}

.footer img {
    width: 100vw;
}

footer {
    position: relative;
    top: -52rem;
}
/* 
16 rem 

calc((100vw - 16rem) / 5 ) */